.nav {
	display: flex;
	justify-content: flex-start;
	border: 1px solid black;
	gap: 2rem;
	width: 60vw;
	margin: 2rem 0;
	padding: 0.5rem;
}

.btn {
	all: unset;
	width: 2rem;
}

.btn:hover,
.btn:focus {
	background-color: gray;
	border-radius: 0.3rem;
}

